/* Master Styles */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: #1d2022;
}

/* Navigation Bar Styles */
.nav_bar {
    padding: 7px;
    justify-content: space-between;
    background-color: #474b4f;
    top: 0;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 500;
    display: flex;
}

.nav_links {
    display: flex;
}

.nav_bar > .nav_links > div {
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 0.7em;
}

.link {
    height: 15px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.link a {
    color: #1d2022;
    text-decoration: none;
    transition: color 0.5s;
}

.link:hover {
    border-bottom: 1px solid rgb(223, 121, 25);
}

.link a:hover {
    color: rgb(223, 121, 25);
}

.active-nav_link {
    border-bottom: 1px solid rgb(223, 121, 25);
}

.active-nav_link a {
    color: rgb(223, 121, 25) !important;
}

.name {
    color: #1d2022;
    display: none;
}

@media only screen and ( min-width: 767px ) {
    .nav_bar {
        padding: 2vh;
        margin-top: -2vh;
    }
    
    .nav_links {
        font-size: x-large;
        padding: 10px;
        height: 22px;
    }

    .name {
        display: flex;
        font-size: large;
        height: 15px;
        padding: 10px;
        margin-right: 8px;
    }

    .link {
        padding-bottom: 2.5vh;
    }
}

@media only screen and ( min-width: 770px ) {
    
    .nav_links {
        font-size: xx-large;
        padding: 15px;
    }

    .name {
        display: flex;
        font-size: larger;
        padding: 15px;
        margin-right: 10px;
    }

    .link {
        padding-bottom: 2.7vh;
    }

    .nav_bar > .nav_links > div {
        margin-right: 20px;
    }
}
