#resume {
    background-color: #1d2022;
    z-index: 400;
    padding-bottom: 10px;
    margin-right: 0;
}

.res {
    text-align: center;
}

.wse {
    color:rgb( 148, 148, 148 );
    margin-left: 10vw;
}

#res_title {
    color: rgb( 223, 121, 25);
    margin-bottom: -18px;
    font-size: x-large;
}

#res_description {
    color: rgb( 148, 148, 148 );
    padding-bottom: 10px;
    font-size: small;
}

.skills {
    text-align: left;
    color:rgb( 223, 121, 25);
    padding-bottom: 10px;
}

.education {
    text-align: left;
    color: rgb( 223, 121, 25);
    padding-bottom: 25px;
}

.education_list {
    color: rgb( 148, 148, 148 );
}

.skill_list {
    color: rgb( 148, 148, 148 );
}

li {
    margin: 5px;
}

#skill_title {
    text-align: center;
    margin-left: -10vw;
}

#education_title {
    text-align: center;
    margin-left: -10vw;
}

@media only screen and ( min-width: 768px ) {
    #res_title {
        font-size: xx-large;
    }
    
    #res_description {
        font-size: large;
    }

    #skill_title {
        font-size: xx-large;
    }

    #education_title {
        font-size: xx-large;
    }

    .education_list {
        font-size: x-large;
    }

    .skill_list {
        font-size: x-large;
    }
    
    .skills {
        padding: 5px;
    }

    .education {
        padding: 5px;
    }
}

@media only screen and ( min-width: 1024px ) {
    .wse {
        display: flex;
        justify-content: space-between;
        margin-right: 10vw;
    }

    #skill_title {
        font-size: 2.5em;
        text-align: center;
    }

    #education_title {
        font-size: 2.5em;
        text-align: center;
    }

    .skills {
        border-radius: 25px;
        background: #2a2e31;
        padding: 10px;
    }

    .education {
        border-radius: 25px;
        background: #2a2e31;
        padding: 10px;
    }

    #res_title {
	font-size: 2.3em;
	margin-bottom: -23px;
    }

    #res_description {
	font-size: 1.5em;
    }
}

@media only screen and ( min-width: 1281px ) {
    #skill_title {
	font-size: 2.7em;
    }

    .skills {
	padding: 10px;
    }
    
    .skill_list {
	font-size: 2em;
    }

    .education_list {
	font-size: 2em;
    }

    #education_title {
	font-size: 2.7em;
    }

    .education {
	padding: 10px;
    }

    #res_description {
	padding-bottom: 80px;
    }
}
