img {
    vertical-align: middle;
}

.slider {
    align-items: center;
    position: relative;
    height: 185px;
}

.slide_images {
    max-width: 50%;
    position: relative;
    margin: auto;
    padding-top: 6vh;
    max-height: 15vh;
    z-index: 100;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 5s;
}

@-webkit-keyframes fade {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes fade {
    from { opacity: 0 }
    to { opacity: 1 }
}

@media only screen and ( min-width: 767px ) {
    .slider {
        height: 400px;
    }

    .slide_images {
        min-width: 55%
    }
}

@media only screen and ( min-width: 1024px ) {
    .slider {
        height: 550px;
    }

    .slide_images {
        min-width: 50%;
    }
}

@media only screen and ( min-width: 1025px ) {
    .slider {
        height: 680px;
    }

    .slide_images {
        min-width: 50%;
        padding-top: 13vh;
    }
}

@media only screen and ( min-width: 1200px ) {
    .slider {
        height: 100vh;
    }
}
